<!DOCTYPE html>
<html lang="en">
<head>
  {%- block head_meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}"> -->
  {% endblock head_meta %}
    <title>{# {% block page_title %}{{app_name}}{% endblock %} #}</title>
  {%- block head_css %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css" integrity="sha384-jicmBel8P2pPLzE5HjdqP8ve9bexf9JVMw1bblT0liReeXU9L4fz46kKI1ulzTvq" crossorigin="anonymous">
  {% endblock head_css %}
  {%- block head_js %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha384-Dziy8F2VlJQLMShA6FHWNul/veM9bCkRUaLqr199K94ntO5QUrLJBEbYegdSkkqX" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js" integrity="sha384-MV8AwEgYXLMw5ZPj4763CSPk+tYGoUZGdwr/+EfkAZ1Dl2rGHxOMpQ1IW7VtyUPn" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js" integrity="sha384-FB8OOSi1mEMkiZBf6nN7YJQyJWBR4nVn8/GbB77iyHdqhF0xvHiP+r9px7UZW1EI" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/extensions/export/bootstrap-table-export.min.js" integrity="sha384-X5JknBiSKtvtS5wYyyFAYBCn17T77gUcRA97gChQDh1dhgNtLayyR1I0tOh/Pwsb" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://d3js.org/d3.v3.min.js" integrity="sha384-N8EP0Yml0jN7e0DcXlZ6rt+iqKU9Ck6f1ZQ+j2puxatnBq4k9E8Q6vqBcY34LNbn" crossorigin="anonymous"></script>
  {% endblock head_js %}
</head>
<body>
  {%- block navbar %}
    <header class="top" role="header">
      {% include 'navbar.html' %}
    </header>
  {% endblock navbar%}
  {#{% include 'appbuilder/general/confirm.html' %}
  {% include 'appbuilder/general/alert.html' %} #}

  {% block body %}

  {% endblock body %}

  {% block tail_js %}
  {% endblock %}

  {% block tail %}
  {% endblock %}

</body>

</html>